.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
body {
	background-color: hsla(0, 0%, 0%, 0.8);
}
h1 {
	font-size: 60px;
	color: hsla(180, 100%, 50%, 0.8);
	font-family:  sans-serif;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-style: cursive;
	color: hsla(180, 100%, 50%, 0.8);
	font-family:  sans-serif;
	text-align: center;
}
h3 {
	font-size: 30px;
	color: hsla(180, 100%, 50%, 0.8);
	text-align: center;
}
a {
	color: hsla(180, 100%, 50%, 0.8);
	font-family:  sans-serif;
	text-align: center;
}

}
.intro {
	grid-column: 2;
	grid-row: 2;
	grid-gap: 50px;
	align-content: center;
	z-index: 10;
}
.imback {
	grid-column: 1 / span 2;
	height: 10px;
	grid-row: 3;
	z-index: 20;
	background-color: hsla(0, 5%, 0%, 0.7);
}